$cor: #36393f;
$cor1: #2f3136;
$cor2: #292b2f;
$corbutton: #5865f2;
$corspan: #d6d7d9;
$corverde: #3ba55c;


// @function my-function() {
//     $text-color: black;
//     @return $text-color;
// }
// color: my-function();